header{
	height:35px;
	width:100%;
	position:absolute;
	top:0;
	z-index:500;
	background:transparent;
	img{
		display:block;
		margin:20px auto 0px;
		max-width:400px;
	}
}
.summary{
	font-family:$secondary-stack;
}

section{
	width:100%;	
	overflow:hidden;
	min-height:240px;
 	position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
	.box{
		background-color: $educated;
		min-height:330px;
		padding:1%;
		h3{
			text-transform:uppercase;
			font-size:2em;
			margin-top:2em;
		}
		&.two, &.online{
			background-color: $trained;
		}
		&.three, &.hybrid{
			background-color: $implement;
		}
		
		.icon{
			font-size:4.5em;
			
		}
	}

	.container{
		padding:3%;
		font-family:$secondary-stack;
		margin:1em 0 1em;
		ul{
			margin-bottom:0px;
		}
	}
	.education:first-of-type{
		margin:0 0 1.4em;
		ul{
			margin:1.4em 0 0 2em;
		}
	}
	&#big-three{
		min-height:330px;
		.box{
			cursor:pointer;
		}
	}
 	&#hero{
		background-image:$off-white;
		min-height:330px;
		.content{
			margin-top:6em;
		}
		.icon{
			display:none;
			cursor:pointer;
		}
		aside{
			padding-top:6%;
			h1{
				color:$black;
				text-transform:uppercase;
				font-weight:700;
				font-size:2em;
				line-height:1.3em;
				margin-top:1em;
			}
			p{
				color:$black;
				font-weight:300;
				margin:.5em 0 0;
				font-size:1.2em;
			}
		}
	}
	&#education{
		background-color:$off-white;
		.content{
			padding:3% 0;
		}
		aside{
			h2{
				font-size:2.8em;
				line-height:1.3em;
				margin-top:.5em;
				text-transform:uppercase;
				text-shadow: 1px 1px 20px $educated;
				font-weight:700;
			}
			p{
				color:$black;
				text-transform:uppercase;
				font-weight:400;
				text-shadow: 1px 1px 20px $educated;
				margin:.1em 0 .2em;
				font-size:1.4em;
			}
		}
		.box{
			min-height:580px;
			padding:3%;
			.icon{
				line-height:.25em;
			}
		}
	}
	&#training{
		background-color:$off-white;
		.content{
			padding:3% 0;
		}
		.box{
			height:485px;
			padding:3%;
			&.image{
				background-image:url('../img/common2x/training.jpg');
				background-size:cover;
			}
		}
		aside{
			h2{
				font-size:2.8em;
				line-height:1.3em;
				margin-top:.5em;
				text-transform:uppercase;
				text-shadow: 1px 1px 20px $trained;
				font-weight:700;
				color:$black;
			}
			p{
				color:$black;
				text-transform:uppercase;
				font-weight:400;
				text-shadow: 1px 1px 20px $trained;
				margin:.1em 0 .2em;
				font-size:1.4em;
			}
		}
	}
	&#implementation{
		background-color:$off-white;
		aside{
			h2{
				color:$black;
				font-size:2.8em;
				line-height:1.3em;
				margin-top:.5em;
				text-transform:uppercase;
				text-shadow: 1px 1px 20px $implement;
				font-weight:700;
			}
			p{
				color:$black;
				text-transform:uppercase;
				font-weight:400;
				text-shadow: 1px 1px 20px $implement;
				margin:.1em 0 .2em;
				font-size:1.4em;
			}
		}
	}
	&#about-us{
		background-color:$white;
		.box{
			padding:0 2%;
		}
		img{
			display:block;
			margin:20px auto 0px;
			width:150px;
			border-radius:100%;
		}
		h3{
			font-size:1.5em;
		}
		a{
			color:$highlight;
			text-decoration:underline;
			font-weight:800;
		}
		.content{
			padding:3% 0;
		}
		aside{
			h2{
				font-size:2.8em;
				line-height:1.3em;
				margin-top:.5em;
				text-transform:uppercase;
				font-weight:700;
				color:$black;
			}
			p{
				color:$black;
				text-transform:uppercase;
				font-weight:400;
				margin:.1em 0 .2em;
				font-size:1.4em;
			}
		}
	}
}
footer{
	background:$highlight;
	width:100%;
	padding:3% 0 5%;
	.copyright{
		font-family:$secondary-stack;
		font-size:.75em;
		color:$white;
	}
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media only screen and (min-width: 31.250em) {
	header{
		.logo{
			background-size:100% 100%;
			width:327px;
			height:113px;
		}
	}
	section{
		background-attachment:fixed;
		min-height:375px;
		&#hero{
			background-image:url('../img/common2x/hero.jpg');		
			aside{
				top:160px;
				h1{
					font-size:2.8em;
				}
				p{
					font-size:1.5em;
				}
			}
		}
	}
}
@media only screen and (min-width: 48.000em) {
	section{
		&#hero{
			min-height:576px;
			.icon{
				font-size:4.5em;
				color:$white;
				display:block;
				position:absolute;
				bottom:0px;
				right:10px;
				line-height:0;
			}
		}
		
	}
}
@media only screen and (min-width: 65.000em) {
	section{
		&#hero{
			min-height:768px;
		}
		&#about-us{
			.box{
				min-height:1240px;
			}
	}	
	}
	
}
